.AppStyle {
    height: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 32px 16px;
    gap: 26px;
}

.link {
    font-family:  Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    background-color: #F99500;
    display: inline-block;
    line-height: 32px;
    opacity: 0.9;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    text-size-adjust: 100%;
    width: 212px;
    height: 35px;
    border-radius: 10px;
    box-shadow: 2px 4px 4px #0000009F;

    &:active {
      background-color: #F99500;;
      box-shadow: 2px 2px 4px #0000009F inset;
    }
  }

  
.pesquisa {
  display: flex;    
  height: 90px;
  width: 100%;
  padding-left: 1%;
  border-bottom: 1px solid #ccc;
  align-content: center;   
  background-color: #E3EBF3;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}

.pesquisa label {
  font-family: 'sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;     
  align-self: center;
}

.textBox {
  width: 820px;    
  height: 31px;;
  border: 1px solid #ccc;
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;       
  align-self: center;
}
