.nav {
    background-color: #adc7ef;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid black;
}

.navIcon {
    margin-left: 2rem;
    font-size: 2rem;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sideBarNav {
    background: #2e3b74;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 350ms;
    z-index: 10;
}

.sideBarNav[data-open="true"] {
    left: 0;
}

.sidebar-wrap {
    width: 100%; 
}