.AppStyle {
    height: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 32px 16px;
    gap: 26px;
}
.container {
    display: flex;    
    height: 300px;
    padding: 28px;
    border-bottom: 1px solid #ccc;
    background-color: #EDF5F8;
    flex-direction: column;
    line-height: 25px;
    gap: 15px;
}

.areaCampos {
    display: flex;
    width: 100%;
    gap: 20px;
}

.labelTitulo {
    display: flex;
    font-family: 'sans-serif';
    font-style: normal;
    font-weight: bold;
    font-size: 38px; 
    justify-content: center; 
    width: 100%;
    height: 40px;
}

.label {
    display: flex;
    font-family: 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 18px; 
    justify-content: center; 
    align-items: center;
    width: 100%;
}

.areaData {
    display: flex;
    height: 40px;;
    justify-content: center;
    gap: 8px;
    width: 100%;
}

.labelEncerramento {
    font-family: 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 18px; 
}

.labelData {
    font-family: 'sans-serif';
    font-style: normal;
    font-weight: bold;
    font-size: 18px; 
    color: red;
}

.labelEscolhaVoto {
    display: flex;
    font-family: 'sans-serif';
    font-style: normal;
    font-weight: bold;
    font-size: 20px; 
    justify-content: center; 
    align-items: center;
    width: 100%;
}

.areaVoto {
    display: flex;
    height: 40px;;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
    padding-left: 45%;
    padding-right: 45%;
}

.radio{
width: 50px;
}

.labelOpcoesVoto {
    display: flex;
    font-family: 'sans-serif';
    font-style: normal;
    font-weight: bold;
    font-size: 35px; 
    justify-content: flex-start;
    color: rgb(255, 136, 0);
}

.areabotao {
    display: flex;
    justify-content: center;
}

.link {
    font-family:  Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    background-color: #F99500;
    display: inline-block;
    line-height: 32px;
    opacity: 0.9;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    text-size-adjust: 100%;
    width: 212px;
    height: 35px;
    border-radius: 10px;
    box-shadow: 2px 4px 4px #0000009F;

    &:active {
      background-color: #F99500;
      box-shadow: 2px 2px 4px #0000009F inset;
    }
  }

  .date {
    width: 350;
  }





