.AppStyle {
    height: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 32px 300px;
    gap: 26px;
}
.container {
    display: flex;    
    height: 150px;
    padding: 28px;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    background-color: #EDF5F8;
    flex-direction: column;
    line-height: 25px;
    gap: 15px;
}

.areaCampos {
    display: flex;
    align-content: center;   
    align-items: center;
    justify-content: center;    
    width: 100%;
    gap: 20px;
}


.label {
    display: flex;
    font-family: 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 18px; 
    justify-content: center; 
    align-items: center;
    /* width: 100%; */
}

.textBoxLogin {
    width: 250px;    
    height: 31px;;
    border: 1px solid #ccc;
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;       
    align-self: center;
  }

  .textBoxSenha {
    width: 250px;    
    height: 31px;;
    border: 1px solid #ccc;
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;       
    align-self: center;
  }

.areabotao {
    display: flex;
    justify-content: center;
}

.link {
    font-family:  Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    background-color: #F99500;
    display: inline-block;
    line-height: 32px;
    opacity: 0.9;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    text-size-adjust: 100%;
    width: 212px;
    height: 35px;
    border-radius: 10px;
    box-shadow: 2px 4px 4px #0000009F;

    &:active {
      background-color: #F99500;
      box-shadow: 2px 2px 4px #0000009F inset;
    }
  }