
.filtro {
    display: flex;    
    height: 90px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    align-content: center;   
    background-color: #E3EBF3;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.filtro label {
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;     
    align-self: center;

}

.filtro select {
    width: 600px;    
    border: 1px solid #ccc;
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;       
    align-self: center;

}