body {
    margin: 0;
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.container {
    height: 180px;
    background-color: #ffffff;
    margin: 30px 162px;
    padding: 2%;
    border: 2px solid #ccc;
    border-color: #5CB1FF;
    border-radius: 8px;
    margin-left: 123px;

    // box-sizing: border-box;
    // position: absolute;
    // width: 1110px;
    // height: 206px;
    //left: 162px;
    // top: 213px;
    // background: #FFFFFF;
    // border: 1px solid #5CB1FF; 
}

.area_categoria {
    margin-left: 0px;
    padding-top: 0px;
}

.label_categoria {
    position: absolute;
    left: 224px;
    width: 400px;
    padding-top: 0px;    
    //top: 270px;
    line-height: 18px;
    color: #636262;
    font-weight: bold;
    font-style: italic;
}

.label_pauta {
    position: absolute;
    left: 224px;
    height: 14px;
    padding-top: 3px;
    color: #9c3c01;
    font-weight: bold;
}

.sessao {    
    position: absolute;
    width: 920px;
    height: 72px;
    left: 222px;
    margin-top: 40px;
    //top: 380px;
    //box-sizing: border-box;
    background: linear-gradient(90deg, #FFFFFF 0%, #C8BEBE 100%);
    border: 1px solid #000000;
    //box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.abertura_sessao {
    position: absolute;
    width: 600px;
    height: 18px;
    padding-left: 1%;
    padding-top: 1%;
    line-height: 18px;
    color: #000000;
}

.abertura_sessao_titulo {
    margin-left: 0px;
}

.abertura_sessao_valor {
    padding-left: 40%;
}

.fechamento_sessao {
    position: absolute;
    width: 650px;
    height: 18px;
    padding-left: 1%;
    padding-top: 4%;
    line-height: 18px;
    color: #000000;
}    

.fechamento_sessao_titulo {
    margin-left: 0px;
}

.fechamento_sessao_valor {
    padding-left: 33%;
}

.label_resultado {
    position: absolute;
    padding-top: 130px;
    height: 18px;
    left: 224px; 
    //top: 480px;       
}
